---
---


#banner {
    right: 15%;
    margin-right: 0;

	@media print, screen and not(max-width: 1060px) {
		.fork {
			margin-left: 0;
			left: 25%;
		}
	}
}


.wrapper {
    width: 50%;
}


nav {
	left: 25%;
	margin-left: -25%;
	width: 24%;
}


.main-section {
	height: 577px;
	width: 100%;
    box-sizing: border-box;
}
